

body {
  color: black;
  background-image: url(images/ground.JPG);
  background-repeat: no-repeat;
  background-size: cover;
}

.images {
  margin: auto;
  height: 750px;
  width: 617px;
  text-align: center;
  position: relative;
  border: 3px solid #202020;
  background-color: white;
  opacity: 0.9;
}

.images #caption {
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 55px;
}

.mySlides {
  position: relative;
  padding: 44px 44px 0px 44px;
  height: 529px;
  width: 529px;
  opacity: 0.9;
}

#timer {
  opacity: 0.8;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 75px;
  color: white;
}

#date {
  opacity: 0.7;
  position: absolute;
  top: 70%;
  left: 80%;
  font-size: 15px;
  color: white;
}